<a href="https://colab.research.google.com/github/loki20051267/Applications-Of-Data-Mining/blob/main/ADM_LAB_6_Data_Transformation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from datetime import datetime

data = {'Category': ['A', 'B', 'C', 'A', 'B']}
df = pd.DataFrame(data)

label_encoder = LabelEncoder()
df['Label_Encoded'] = label_encoder.fit_transform(df['Category'])

one_hot_encoded = pd.get_dummies(df['Category'], prefix='Category')
df = pd.concat([df, one_hot_encoded], axis=1)

print("One-Hot & Label Encoded Data:\n", df)

data = {'Name': ['Lokesh', 'Sriram'], 'Date_of_Birth': ['2005-02-15', '2004-03-26']}
df_age = pd.DataFrame(data)

df_age['Date_of_Birth'] = pd.to_datetime(df_age['Date_of_Birth'])

current_year = datetime.now().year
df_age['Age'] = current_year - df_age['Date_of_Birth'].dt.year

print("\nDerived Column (Age from DOB):\n", df_age)

data = {'Category': ['A', 'A', 'B', 'B', 'C'], 'Value': [10, 20, 30, 40, 50]}
df_group = pd.DataFrame(data)

grouped = df_group.groupby('Category').agg({'Value': ['sum', 'mean']})
print("\nGrouped Data:\n", grouped)

pivot = df_group.pivot_table(index='Category', values='Value', aggfunc=['sum', 'mean'])
print("\nPivot Table:\n", pivot)

One-Hot & Label Encoded Data:
   Category  Label_Encoded  Category_A  Category_B  Category_C
0        A              0        True       False       False
1        B              1       False        True       False
2        C              2       False       False        True
3        A              0        True       False       False
4        B              1       False        True       False

Derived Column (Age from DOB):
      Name Date_of_Birth  Age
0  Lokesh    2005-02-15   20
1  Sriram    2004-03-26   21

Grouped Data:
          Value
           sum  mean
Category
A           30  15.0
B           70  35.0
C           50  50.0

Pivot Table:
            sum  mean
         Value Value
Category
A           30  15.0
B           70  35.0
C           50  50.0